
body {
    color: #333;
    background: #f8f8f8;
}

@media only screen and (min-width: 600px) {

    .bn-onboard-custom.bn-onboard-modal {
        width: calc(100% - 240px);
        margin-left: 240px;
        padding: 0 10px;
    }

}
